
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, input, textarea {
  font-family: 'Mulish', sans-serif;
}

h1 {
  font-size: 55px;
}

h2 {
  font-size: 36px;
}

h3 {

}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {

}


hr {
  opacity: 0.2;
}

a {
  text-decoration: none;
  color: #000;
}

.primary-button {
  padding: 15px 50px ;
  background-color: #232f3e;
  color: #fff;
  border: none;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: all 0.3s;
}

.primary-button:hover {
  border: 1px solid #232f3e;
  background-color: #fff;
  color: #232f3e;
  stroke: #232f3e;
}

.seccondary-button {
  padding: 15px 50px ;
  background-color: #fff;
  color: #232f3e;
  border: none;
  font-size: 16px;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.3s;
  cursor: pointer;
}

.seccondary-button:hover {
  background-color: #232f3e;
  color: #fff;
}


/* -------------------------------------------------------------------------------------- */


/* ------------------------- Header ------------------------- */
nav {
  width: 100%;
  position: fixed;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  z-index: 100;
  top: 0;
  left: 0;
  /* box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.25); */
  border-bottom: 1px solid #D9DDDC;
}

nav .logo {
  font-weight: 900;
  font-size: 36px;
  color: #0b0705;
  text-decoration: underline;
}

nav .links {
  display: flex;
  list-style: none;
  font-size: 16px;
  align-items: center;
}

nav .links .item {
  color: #000;
  padding: 10px 15px ;
}

nav .links .item.hamburger-menu {
  display: none;
}

nav .links .item a {
  color: #000;
  font-weight: 600;
}

nav .links .item a:hover {
  color: #d31a38;
}

nav .links .item .action-icon {
  color: #000;
}


/* -------------------------------------------------------------------------------------- */


/* Hero Banner */
.hero-banner {
  width: 100%;
  height: 90vh;
  position: relative;  
  margin: 0 0 50px 0;

}

.hero-banner .hero-banner_image{
  height: 90vh;
  width: 100%;
  object-fit: cover;
  animation: float-social 6s ease-in-out infinite;
}

.hero-banner .hero-banner_content{
  position: absolute;
  top:40%;
  left: 10%;
}

.hero-banner .hero-banner_content h4{
  font-weight: 500;
  margin: 0 0 0 0;
  color: #232f3e;
}

.hero-banner .hero-banner_content h1{
  text-transform: uppercase;
  width: 90%;
  color: #d31a38;
  margin: 15px 0 30px 0;
  font-weight: 900;
}

.hero-banner .hero-banner_content button{
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  min-width: 21%;
  animation: float 6s ease-in-out infinite;
}

.hero-banner .carousel-button {
  position: absolute;
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 50%;
  left: 2.5%;
  right: 2.5%;
}

.hero-banner .carousel-button img {
  opacity: 0.1;
  padding: 5px;
  transition: all 0.4s;
}

.hero-banner .carousel-button img:hover {
  opacity: 0.8;
  border:1px solid #232f3e;
  border-radius: 50%;
}

/* ------------------------- End Header ------------------------- */

/* -------------------------------------------------------------------------------------- */

/* ------------------------- Main ------------------------- */

main {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

/* -------------------------------------------------------------------------------------- */


/* Discount Container */
.discount-wrap {
  margin: 150px 0;
}

.discount-wrap h2 {
display: flex;
margin: 0 0 30px 0 ;
}

.discount-wrap h2 span {
  opacity: 0.6;
}

.discount-wrap .discount-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.discount-wrap .discount-container .discount-item {
  width: 32%;
  padding: 30px;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.discount-wrap .discount-container .discount-item .discount-item_left {
  
}

.discount-wrap .discount-container .discount-item .discount-item_left .discount-heading {
  margin-bottom: 50px;
}

.discount-wrap .discount-container .discount-item .discount-item_left .discount-heading p {
  margin-bottom: 5px;
}

.discount-wrap .discount-container .discount-item .discount-item_left .discount-heading h4 {

}

.discount-wrap .discount-container .discount-item .discount-item_left button {

}

.discount-wrap .discount-container .discount-item .discount-item_right {
  width: 45%;
}

.discount-wrap .discount-container .discount-item .discount-item_right img {
  width: 100%;
}

/* End Discount Container */


/* -------------------------------------------------------------------------------------- */


/* Product */
.product-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product-container .product {
  width: 23.5%;
  /* margin: 30px; */
  cursor: pointer;
}

.product-container .product .product-image{
  width: 100%;
  background-color: #F8FAFC;
  border-radius: 15px;
}

.product-container .product .product-image img{
  width: 100%;
}

.product-container .product .product-detail-container {
  padding: 10px 0;
}

.product-container .product .product-detail-container .color-container{
  display: flex;
  align-items: center;
}

.product-container .product .product-detail-container .color-container .color-item {
  width: 20px;
  height: 20px;
  background-color: #232f3e;
  border-radius: 50%;
  margin-right: 5px;
  border: 1px solid #F8FAFC;
  margin: 0 5px 5px 0;
}

.product-container .product .product-detail-container .color-container .color-item:hover {
  border: none;
}

.product-container .product .product-detail-container p{
  font-size: 16px;
  font-weight: 700;
  margin: 0 0 5px 0;
}

.product-container .product .product-detail-container span{
  font-size: 14px;
}
.product-container .product .product-detail-container .product-detail{
  display: flex;
  margin: 15px 0 0 0;
  justify-content: space-between;
  align-items: center;
  
}

.product-container .product .product-detail-container .product-detail .price{
  padding: 5px 15px;
  border: 2px solid #0abb10;
  border-radius: 5px;
}

.product-container .product .product-detail-container .product-detail .price span{
  font-size: 14px;
  font-weight: 900;
  color: #0abb10;
}

.product-container .product .product-detail-container .product-detail .rating{
  display: flex;
  align-items: center;
}

.product-container .product .product-detail-container .product-detail .rating img{
  margin-right: 5px;
}

.product-container .product .product-detail-container .product-detail .rating span{
  
}

.product-container .product .product-detail-container .product-detail .rating span span{
  font-weight: 700;
  font-size: 16px;
}


/* -------------------------------------------------------------------------------------- */


/* New Arrivals */
.new-arrivals-wrap {
  margin: 150px 0;
}

.new-arrivals-wrap h2 {
  display: flex;
  margin: 0 0 30px 0;
  }
  
  .new-arrivals-wrap h2 span {
    opacity: 0.6;
  }

  .new-arrivals-wrap button {
    margin: 30px auto;
  }


  /* Product Detail */

  .product-detail-warp {
    width: 100%;
    display: flex;
    margin: 100px 0;
    justify-content: space-between;
  }

  .product-detail-warp .product-detail_img-container {
    max-width: 37.5%;
  }

  .product-detail-warp .product-detail_img-container .primary-img {
    width: 100%;
  }

  .product-detail-warp .product-detail_img-container .primary-img img {
    width: 100%;
    border-radius: 10px;
  }

  .product-detail-warp .product-detail_img-container .secondary-img {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 15px 0 0 0;
  }

  .product-detail-warp .product-detail_img-container .secondary-img img {
    width: 47.5%;
    border-radius: 10px;
  }

  .product-detail-warp .product-detail_content-container {
    width: 57.5%;
  }

  .product-detail-warp .product-detail_content-container .price-review-container {
    display: flex;
    align-items: center;
    margin: 15px 0 0 0;
  }

  .product-detail-warp .product-detail_content-container .price-review-container .price-cover {
    padding: 0 30px 0 0;
    margin: 0 30px 0 0;
    border-right: 1px solid gray;
  }


  .product-detail-warp .product-detail_content-container .price-review-container .price {
    padding: 5px 15px;
    border: 2px solid #0abb10;
    border-radius: 5px;
    width: fit-content;
  }

  .product-detail-warp .product-detail_content-container .price-review-container .price span {
    font-size: 14px;
    font-weight: 900;
    color: #0abb10;
  }

  .product-detail-warp .product-detail_content-container .color-wrap {
    margin: 30px 0;
  }

  .product-detail-warp .product-detail_content-container .color-wrap .color-container{
    display: flex;
    align-items: center;
    margin: 5px 0 30px 0;
  }

  .product-detail-warp .product-detail_content-container .color-wrap .color-container .color-item{
    width: 40px;
    height: 40px;
    background-color: #232f3e;
    border-radius: 50%;
    margin-right: 5px;
    border: 1px solid #F8FAFC;
    margin: 0 5px 5px 0;
    transition: all 0.5s;
  }

  .product-detail-warp .product-detail_content-container .color-wrap .color-container .color-item:hover {
    border: none;
  }

  .product-detail-warp .product-detail_content-container .action-button {
    display: flex;
    align-items: center;
  }

  .product-detail-warp .product-detail_content-container .action-button .ammount-button {
    padding: 5px 10px;
    background-color: rgba(241,245,249,.7);
    width: fit-content;
    border-radius: 30px;
    margin: 0 30px 0 0 ;
  }

  .product-detail-warp .product-detail_content-container .action-button .ammount-button .value {
    padding: 10px 15px;
    border-radius: 30px;
    border: 1px solid gray;
    width: 40px;
    border: none;
    background-color: unset;
    font-size: 18px;
  }

  .product-detail-warp .product-detail_content-container .action-button .ammount-button .value-action {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #232f3e;
    background-color: #fff;
    color: #232f3e;
    border-radius: 30px;
  }

  .product-detail-warp .product-detail_content-container .action-button .primary-button {
    
  }

  /* Product Description */

.product-description {
  margin: 30px 0;
}

.product-description .product-description_container {
  margin: 30px 0;
}

.product-description .product-description_container h5 {
  width: 100%;
  padding: 15px;
  background-color: rgba(241,245,249,.7);
  color: #000;
  border-radius: 10px;
}

.product-description .product-description_container p {
  width: 100%;
  padding: 15px 15px;
  color: #000;
  border-radius: 10px;
}

.product-description .product-description_container ul {
  width: 100%;
  padding: 15px 35px;
  color: #000;
  border-radius: 10px;
}

.product-detail-text {
  width: 60%;
}

.product-detail-text h2 {
  margin-bottom: 30px;
}

.product-detail-text .text {

}

.product-detail-text .text ul {
  margin: 15px 50px;
}


/* Contact Us */
.contact-us-container {
  padding: 40px 50px;
  background-color: #FDFCE9;
  margin: 100px auto;
  border-radius: 30px;
  position: relative;
  width: 80%;
}

.contact-us-container .left-side {
  position: absolute;
  width: 45%;
  bottom: 0;
}

.contact-us-container .right-side {
  width: 40%;
  margin-left: auto;
}

.contact-us-container .right-side .logo {
  font-weight: 900;
  text-decoration: underline;
  font-size: 28px;
  margin: 0 0 15px 0;
}

.contact-us-container .right-side .heading {
  margin: 30px 0;
}

.contact-us-container .right-side .heading h1 {
  
}

.contact-us-container .right-side .description {
  margin: 30px 0;
}

.contact-us-container .right-side button {
  font-size: 18px;
}




/* ------------------------------- CONTACT US PAGE ------------------------------- */

.contact-us {
  margin: 100px 0;
}

.contact-us h1{
  text-align: center;
}

.contact-us .contact-us-wrap {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}

.contact-us .contact-us-wrap .left {
  width: 47.5%;
  padding: 15px 30px;
}

.contact-us .contact-us-wrap .left form {
  
}

.contact-us .contact-us-wrap .left form .form-input {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.contact-us .contact-us-wrap .left form .form-input label {
  
}

.contact-us .contact-us-wrap .left form .form-input input {
  padding: 12px 17px;
  border-radius: 10px;
  margin: 10px 0;
  border: 1px solid #666;
}

.contact-us .contact-us-wrap .left form .form-input textarea {
  padding: 12px 17px;
  border-radius: 10px;
  margin: 10px 0;
  border: 1px solid #666;
}

.contact-us .contact-us-wrap .right {
  width: 47.5%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.contact-us .contact-us-wrap .right iframe {
  width: 100%;
  height: 100%;
}

/* -------------------------------------------------------------------------------------- */


/* ------------------------- End Main ------------------------- */



/* ------------------------- Footer ------------------------- */

footer {
  display: flex;
  padding: 50px 230px;
  width: 100%;
  justify-content: space-between;
  color: #fff;
  background-color: #232f3e;
}

footer .footer-item {
  max-width: 20%;
}

footer .description-wrap {

}

footer .description-wrap .list-social {
  margin-top: 15px;
}

footer .description-wrap .list-social img {
  width: 20px;
  margin-right: 10px;
}

footer .description-wrap .logo{
  font-weight: 900;
  text-decoration: underline;
  font-size: 30px;
  margin: 0 0 15px 0;
}

footer .description-wrap .descriptions {
  text-align: justify;
}

footer .footer-list-url {

}

footer .footer-list-url h5{
  margin-bottom: 30px;
}

footer .footer-list-url .footer-url {
  list-style: none;
 
}

footer .footer-list-url .footer-url .footer-url_item {
  margin: 10px 0;
}

footer .footer-list-url .footer-url .footer-url_item a {
  color: #fff;
  font-weight: 400;
}


/* ------------------------- End Footer ------------------------- */


.list-social-container {

}

.list-social-container .social-item-float {
  border-radius: 30px;
  width: 200px;
  background-color: #F8FAFC;
  /* border: 1px solid gray; */
  padding: 10px 15px;
  margin: 5px 0;
  transition: all 0.5s;
  position: fixed;
  z-index: 10;
  left: -7.5%;
  animation: float-social 4s ease-in-out infinite;
}

.list-social-container .social-item-float:hover {
  left: -3.3%;
  background-color: #FDFCE9;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.25);
}

.list-social-container .social-item-float .content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.list-social-container .social-item-float .content span {
}

.list-social-container .social-item-float .content img {
  width: 30px;
  margin: 0 0 0 15px;
  
}


@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
}

@keyframes float-social {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}